[submodule "SARS-CoV-2-network-analysis"]
	path = sars2net
	url = https://github.com/Murali-group/SARS-CoV-2-network-analysis.git
[submodule "decagon"]
	path = decagon
	url = https://github.com/mims-harvard/decagon.git
